@font-face{
  src: url('../fonts/Gilroy-Light.otf');
    font-family: 'Gilroy';
    font-weight: normal;
    font-style: normal;
}
@font-face{
    src: url('../fonts/Gilroy-ExtraBold.otf');
    font-family: 'Gilroy';
    font-weight: bold;
    font-style: normal;
}
@font-face {
  src: url("../fonts/Gilroy-SemiBold.ttf");
  font-family: "Gilroy";
  font-weight: 600;
  font-style: normal;
}
html{
  font-size: 0.5vw;
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 500;
  width: 100%;
  background-color: #F5F6F8;
}
* {
  padding: 0;
  margin: 0;
}
h1{
  font-size: 6rem;  
  font-weight: 500;
  margin-bottom: 2rem;
  color: #192a3e;
  opacity: 0.85;
}
h2{
  font-weight: 600;
  font-weight: 1.8rem;
  color: #192a3e;
  opacity: 0.85;
}
hr{
  opacity: 0.3;
}
/* leftmenu start*/
.leftmenu{
  position: fixed;
  background-color: #fff;
  width: 13%;
  height: 100%;
  box-shadow: 2px 0px 10px 1px rgba(0, 0, 0, 0.2);
  
}
.leftmenu img{
  width: 80%;
}
.nav {
  text-align: center;
  margin: auto;
  padding: 2.8rem 2rem 0 2rem;
}
.navbar {
  max-width: 20rem;
  margin: auto;


}
.navbar a{
  color: #1D191F;
  font-size: 2rem; 
  letter-spacing: 0.01em;
  text-decoration: none;
  display: flex;
  align-items: center;
  background-image: url(/img/dropbutton.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 0.6vw;
  margin-top: 2rem;
}
.navbar a:nth-child(1n){
  padding: 0.5rem 0 0.5rem 0;
}
.icon{
  width: 1vw; 
  height: 1vw;
  margin-right: 0.8vw;
  background-size: 100%;
}
.imgMain{
  background-image: url(/img/icon1.svg);
  background-repeat: no-repeat;
}
.imgOrder{
  background-image: url(/img/icon2.svg);
  background-repeat: no-repeat;
}
.imgClients{
  background-image: url(/img/icon3.svg);
  background-repeat: no-repeat;
}
.imgDisplay{
  background-image: url(/img/icon4.svg);
  background-repeat: no-repeat;
}
.leftmenu hr{
  margin-top: 5.9rem;
  opacity: 0.3;
}
/* leftmenu end*/
/* header */
.main{
  width: 87%;
}
main{
  padding-left: 13%;
}
.header{
  padding: 1rem 3rem; 
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
}
.personalAreaBar{
  width: 22rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
.personalAreaBar a{
  color: #1D191F;
  font-size: 2.2rem; 
  text-decoration: none;
  display: flex;
  align-items: center;
}
.imgAvatar{
  margin-right: 1.5rem;
}
.imgNotification{
  width:0.5vw;
  height:0.5vw;
  background-image: url(/img/notification.svg);
  background-repeat: no-repeat;
  background-size: 1.3vw;
  background-position: center;
}
.iconLarge{
  width: 2vw; 
  height: 2vw;  
}
.iconSmall{
  width: 1vw;
  height: 1vw;  
}
/* header end*/
/* content */
.content{
  background-color: #F5F6F8;
  box-shadow: inset 1px 4px 9px -2px rgba(50, 50, 50, 0.3);
  padding: 4rem 5rem;
  font-size: 1.5rem;
  min-height: 90rem;
}
.contentHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filterPanel{
  color: #6A707E;
}
.filterPanel select{
  border: none;
  font-size: 1.5rem;
  outline: none;
  background-color: transparent;
}
.filterPanel option{
  background-color: transparent;
  font-size: 1.5rem;
}
.dataTables_filter{
  text-align: right;
}
.content h1{
  font-size: 4rem;
  font-weight: 500;
}
table{
  text-align: left;
  padding-top: 1.5rem;
  color: #1D191F; 
}
th{
  color: #fff;
  font-weight: 300;
  padding: 1rem;
  outline: none;
}
th:hover{
  cursor: pointer;
}
td{
  padding: 1rem;
}
td{
  border-bottom: 1px solid #DFE0EB;
}
.dataTables_paginate{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  align-items: flex-start;
  font-size: 1.3rem;
}
.previous{
  background-image: url(/img/left.svg);
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 1rem;
  width: 1.5rem;
  cursor: pointer;
}
.next{
  background-image: url(/img/right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 1rem;
  width: 1.5rem;
  cursor: pointer;
}
.indicate {
    display: inline-block;
    width: 0.5vw;
    min-width: 5px;
    height: 0.5vw;
    min-height: 5px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px rgba(55, 81, 255, 0.2);
    background: #000;
    margin: 0 0.5rem 0rem 0;
}
.inAction {
    background: #48D2A0;
}
.outOfAction {
    background: #F96E7D;
}
.c1{
  background: #8C7F98;
}
.c2{
  background: #F5F6F8;
  color: #707683;
  border-bottom: 1px solid;
  border-collapse: collapse;
}
 .sorting{
  background-image: url(/img/up.svg);
  background-size: 0.75vw;
  background-position-x: 80%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}
.sorting_asc{
  background-image: url(/img/down.svg);
  background-size: 0.75vw;
  background-position-x: 80%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}
.sorting_desc{
  background-image: url(/img/up.svg);
  background-size: 0.75vw;
  background-position-x: 80%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

/* content end*/
/* orderstatus */
.orderstatus{
  display: flex; 
  justify-content: space-between;
  padding: 3rem 0rem;
  /* align-items: center; */
}
.orderPays{
  padding: 3rem 0rem;
}
.window{
  background-color: #fff;
  width: 49%; 
  border: 1px solid #DFE0EB;
  border-radius: 8px;
  align-items: center;
  box-sizing: border-box;
  padding:10px;
}

.windowLarge{
  width: 100%;

}
.infocontent{
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  font-weight: 500;
  align-items: center;
  padding: 12rem 5rem;
}
.windowContent{
  padding: 5rem 5rem;
}
.dataTables_filter label input{
  margin-left: 2rem;
  font-family: "Gilroy";
  background-color: transparent;
  outline: none;
  border: 1px #DFE0EB solid;
  border-radius: 5px;
  padding: 0.5rem;
}
.dataTables_filter label{

}
.tabletitle{
  display: flex;
  margin: 1.5rem 0 1.5rem 0;
}
.tablevalues{
  text-align: right;
}
.tablevalue{
  margin: 1.5rem 0 1.5rem 0;
}
.infocontent p{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: content;
}
.right{
  
}
.popupnotification{
    display: none;
    width:88%;
    min-height: 150rem;
    background: rgba(73, 50, 108, 0.4);
    overflow:hidden;
    position:fixed;
    left: 13%;
    top:0px;
    text-align: center;
    font-size: 2rem; 
}
.popupnotification__active{
  display: block;
}
.popupnotification .popupnotification-content{
  margin: 15rem auto 0 auto;
    width:65%;
    height: 20%;
    background-color: #fff;
}
.popupnotificationheader{
  background-color: #A095AB;
  text-align: left;
  padding: 0;
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  color: #fff;
}
.iconPopupnotification{
  background-image: url(/img/notpopup.svg);
  margin: 0rem 3rem;
  max-width: 100%;
}
.notificationcontent{
  text-align: left;
}
.notifyrow{
  padding: 2rem 2rem 2rem 8.5rem;
  position: relative;
}
.notifyrow::before{
  content: '';
  display: block;
  position: absolute;
  left: 3.7%;
  top: 50%;
  width: 0.6vw;
  height: 0.6vw;
  border-radius: 50%;
  background: #C33039;
}
.notifytime{
  font-size: 1.8rem;  
  color: #858585;
}
.notifymessage{
  padding: 1rem 0rem;
  letter-spacing: 0.2px;
}
.notifyreview a{
  text-decoration: none;
  font-size: 1.9rem;
  color: #358ED7;
}
.notifyreview a:hover{
  text-decoration: underline;
  transition: 0.2s;
}
/* dashboard */
rect{
  align-items: center;
}
.statusHeader{
  padding: 1.8rem 2.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.statusHeader h2{
  font-weight: 1.5rem;
}
#piechart_3d{
  font-size: 2rem;
  max-width: 100%;
}
.chart_div{
  max-width: 100%;
}
header{
  box-shadow: 6px 7px 4px rgb(232 230 230 / 44%);
}
.display{
  width:100%;
}
.DonutChart{
  padding:40px;
}


/*Компонент логина*/

.login{
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#f0efef;
}
.login-form{
    box-shadow: 10px 2px 10px rgba(0, 0, 0, 0.17);
    width: 93%;
    max-width: 620px;
    background: #fff;
    margin: auto;
    padding: 40px 70px;
}
.login *{
  box-sizing: border-box;
}
.form-logo{
  display: block;
  margin:0 auto;
  width: 100%;
  max-width: 360px;
}
.login-form label{
  display: block;
  font-size: 19px;
  color: #495563;
  line-height: 1;
  margin: 17px 0 10px;
  position: relative;
}
.login-form input{
  border: 2px solid #6D8687;
  box-shadow: inset 0 4px 0 #CCCCCC;
  background: #f2f2f2;
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
  padding: 14px 20px;
  outline: none;
  transition: all 1s;
}
#submit{
  margin-top: 49px;
  padding: 20px 70px;
  border: 0;
  border-radius: 4px;
  font-family: 'Gilroy_SemiBold';
  font-size: 20px;
  color: #ffffff;
  box-shadow: none;
  background: #1BC47D;
  cursor: pointer;
}
.authorizations img{
    width: 35px;
    height: 38px;
    position: absolute;
    bottom: -57px;
    right: 15px;
}
.login-form .error{
  font-size: 16px;
  color: red;
  margin-top:5px;
}
